/* common style  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gabarito', sans-serif;
        font-family: 'Montserrat', sans-serif;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    text-decoration: none;
    background: #ffbb00;
    color: white;
    font-weight: 700;
    font-size: 20px;
    margin-top: 10px;
    padding: 15px 25px;
    border: 0;
    border-radius: 5px;
}
/* header style */
#header{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    background: #fffdd5;
    height: 580px;
}
.header-title h4{
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 700;
}
.header-title h1{
    font-size:45px ;
    margin-bottom: 8px;
}
.header-title h2{
    font-size: 30px;
    margin-bottom: 10px;
}
.header-title span{
    color: orange
}
.header-description{
    font-size: 18px;
    margin-bottom: 10px;
    color: #141414;
}
/* =========service section style=========== */
#service-section{
    margin-top: 40px;
}
.service-title{
text-align: center;
font-size:30px ;
margin-bottom: 30px;
}

.orange-text{
    color: orange;
}
.service-section-boxes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin: 0 70px;
}
.service-box{
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid orange;
    border-radius: 5px;
    padding: 20px 20px;
    background: #fffdd5;
}
.service-box img{
width: 80px;
height: 80px;

}
.service-box:hover{
    border: 2px solid orange;
}